server:
  port: 8081

spring:
  application:
    name: MSA-Service-Member
  h2:
    console:
      path: /h2-console
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop

  cloud:
    config:
      uri: http://localhost:8888
      name: MSA-Cafe-Config-Server

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:9091/eureka/