server:
  port: 8080

spring:
  application:
    name: MSA-Service-Order

  h2:
    console:
      enabled: true
      path: /h2-console

  cloud:
    config:
      uri: http://localhost:8888
      name: MSA-Architecture-Config-Server

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:9091/eureka/